// Colors
:root {
    --color-bg-1: #080c20;
    --color-bg-2: #093f68;
    --color-font-1: #fff;
    --color-font-2: #777f98;
    --color-btn: #093f68;
    --color-highlight: #3ee9e5;
    --color-error: #ff2965;
}

// Fonts
$font-family: "Manrope", sans-serif;
$font-medium: 400;
$font-bold: 800;

// Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;
