@use "../01-abstracts/" as a;

.hero {
    position: relative;
    margin-bottom: 144px;
    text-align: center;

    &__img {
        min-width: 410px;
        margin-bottom: 47.5px;

        &--lg {
            display: none;
        }
    }

    &__bg {
        flex-flow: row nowrap;
        gap: 10px;
        width: 1108px;
        height: 357px;
        position: absolute;
        top: 0;
        left: calc((1108px - 100%) / (-2));

        &-squiggle {
            margin-top: 34px;
            width: 386px;
            height: 268px;
        }
    }

    &__container {
        position: relative;
        margin-left: 24px;
        margin-right: 24px;
    }

    &__title {
        max-width: 250px;
        margin: auto auto 23px;
    }

    &__text {
        margin-bottom: 32px;
    }

    // Tablet
    @include a.breakpoint(a.$md) {
        height: 357px;
        padding-top: 51px;
        margin-bottom: 110px;

        &__img {
            min-width: unset;
            margin-bottom: unset;

            &--sm {
                display: none;
            }

            &--lg {
                display: flex;
            }
        }

        &__container {
                margin-left: auto;
                margin-right: auto;
                max-width: 457px;
        }

        &__title {
            max-width: 350px;
            margin-bottom: 24px;
        }
    }
}
