@use "../01-abstracts/" as a;

.hero {
    position: relative;
    margin-bottom: 144px;
    text-align: center;

    &__img {
        min-width: 410px;
        margin-bottom: 47.5px;
    }
    
    &__bg {
        display: none;

    }

    &__container {
        position: relative;
        margin-left: 24px;
        margin-right: 24px;
    }

    &__title {
        max-width: 250px;
        margin: auto auto 23px;
    }

    &__text {
        margin-bottom: 32px;
    }

    // Tablet
    @include a.breakpoint(a.$md) {
        height: 357px;
        padding-top: 51px;
        margin-bottom: 110px;

        &__img {
            min-width: unset;
            margin-bottom: unset;

            &--sm {
                display: none;
            }
        }

        &__bg {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 477px;
            width: 1108px;
            height: 357px;
            position: absolute;
            top: 0;
            left: calc((1108px - 100%) / (-2));
            
            &-squiggle {
                position: absolute;
                top: 34px;
                left: calc((386px - 100%) / (-2));
                width: 386px;
                height: 268px;
            }
        }

        &__container {
                margin-left: auto;
                margin-right: auto;
                max-width: 457px;
        }

        &__title {
            max-width: 350px;
            margin-bottom: 24px;
        }
    }

    // Desktop
    @include a.breakpoint(a.$lg) {
        height: 459px;
        padding-top: 71px;
        margin-bottom: 202px;

        &__bg {
            gap: 749px;
            width: 1553px;
            height: 459px;
            left: calc((1553px - 100%) / (-2));
    
            &-squiggle {
                top: -17px;
                width: 544px;
                height: 378px;
                left: calc((544px - 100%) / (-2));
            }
        }

        &__container {
                max-width: 540px;
        }

        &__title {
            max-width: unset;
        }

        &__text {
            margin-bottom: 64px;
        }
    }
}
