@use "./../01-abstracts/" as a;

body,
button,
input {
    font-family: a.$font-family;
    font-weight: a.$font-medium;
    font-size: a.rem(15px);
    line-height: 25px;
}

p {
    color: var(--color-font-2);
}

h1 {
    font-size: a.rem(32px);
    line-height: 40px;
    font-weight: a.$font-bold;

    @include a.breakpoint(a.$lg) {
        font-size: a.rem(48px);
        line-height: 56px;
    }
}

h2 {
    font-size: a.rem(40px);
    line-height: 55px;
    font-weight: a.$font-bold;
}

h3 {
    font-weight: a.$font-bold;
    font-size: a.rem(24px);
    line-height: 33px;

    @include a.breakpoint(a.$lg) {
        font-size: a.rem(32px);
        line-height: 44px;
    }
}

h4 {
    font-size: a.rem(18px);
    line-height: 25px;
    font-weight: a.$font-bold;
}
