@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-bg-1: #080c20;
  --color-bg-2: #093f68;
  --color-bg-3: #3ee9e5;
  --color-font-1: #fff;
  --color-font-2: #777f98;
  --color-font-3: #080c20;
  --color-btn: #093f68;
  --color-highlight: #3ee9e5;
  --color-error: #ff2965;
}

html,
body {
  background-color: var(--color-bg-1);
  color: var(--color-font-1);
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

body,
button,
input {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 25px;
}

p {
  color: var(--color-font-2);
}

h1 {
  font-size: 2rem;
  line-height: 40px;
  font-weight: 800;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    line-height: 56px;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 55px;
  font-weight: 800;
}

h3 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 33px;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 2rem;
    line-height: 44px;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 25px;
  font-weight: 800;
}

.button {
  color: var(--color-btn);
  background-color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
  border-radius: 24px;
  padding: 12px 18px;
  font-weight: 800;
  min-width: 140px;
  height: 48px;
  line-height: 1;
  transition: 0.2s ease-out;
}
.button:hover, .button:active {
  background-color: transparent;
  color: var(--color-font-1);
}

.text-field__input {
  color: var(--color-font-1);
  background-color: var(--color-bg-2);
  border: solid 2px transparent;
  border-radius: 24px;
  padding: 12px 18px;
  font-weight: 800;
  min-width: 320px;
  height: 48px;
  line-height: 1;
  transition: 0.2s ease-out;
}
.text-field__input::placeholder {
  color: var(--color-font-1);
  opacity: 0.4;
}
.text-field--success .text-field__input {
  border-color: var(--color-highlight);
}
.text-field--error::after {
  content: "Oops! That doesn’t look like an email address";
  display: block;
  margin-left: 18px;
  margin-top: 4px;
  color: var(--color-error);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 25px;
}
.text-field--error .text-field__input {
  border-color: var(--color-error);
}

.card-1 {
  margin-bottom: 23px;
  top: 23px;
  position: relative;
  padding: 49px 29px 32px 30px;
  border-radius: 8px;
  background-color: var(--color-bg-2);
}
.card-1 .card__title {
  margin-bottom: 19px;
}
.card-1 .card__text {
  margin-bottom: 26px;
}
.card-1 .card__msg {
  margin-bottom: 19px;
}
.card-1 .card__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  list-style-image: url(../../assets/icon-check.svg);
  padding-inline-start: 25px;
}
.card-1 .card__list-li {
  padding-inline-start: 10px;
}
.card-1 .card__img {
  position: absolute;
}
.card-1 .card__text {
  color: var(--color-font-1);
}
.card-1 .card__list {
  list-style-image: url(../../assets/icon-check--light.svg);
}
.card-1 .card__img {
  top: -23px;
  left: 30px;
}

.card-2 {
  margin-bottom: 33px;
  top: 33px;
  position: relative;
  padding: 49px 29px 32px 30px;
  border-radius: 8px;
  padding-top: 61px;
  background-color: var(--color-bg-3);
  color: var(--color-font-3);
}
.card-2 .card__title {
  margin-bottom: 19px;
}
.card-2 .card__text {
  margin-bottom: 26px;
}
.card-2 .card__msg {
  margin-bottom: 19px;
}
.card-2 .card__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  list-style-image: url(../../assets/icon-check.svg);
  padding-inline-start: 25px;
}
.card-2 .card__list-li {
  padding-inline-start: 10px;
}
.card-2 .card__img {
  position: absolute;
}
.card-2 .card__text {
  color: var(--color-font-3);
}
.card-2 .card__msg-small {
  font-size: 0.9375rem;
  font-weight: 500;
  vertical-align: text-top;
  margin-left: 7.5px;
}
.card-2 .card__img {
  top: -33px;
  left: 30px;
}

.header {
  text-align: center;
  margin: 40px auto 65.5px;
}

.hero {
  margin-bottom: 144px;
  text-align: center;
}
.hero__container {
  margin-left: 24px;
  margin-right: 24px;
}
.hero__img {
  min-width: 410px;
  margin-bottom: 47.5px;
}
.hero__title {
  max-width: 250px;
  margin: auto auto 23px;
}
.hero__text {
  margin-bottom: 32px;
}

.grid {
  margin: auto 24px 144px;
  display: flex;
  flex-flow: column nowrap;
  gap: 56px;
}
.grid__cell {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.grid__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-2);
  margin: auto auto 32px;
  width: 120px;
  height: 124px;
  border-radius: 45px;
}
.grid__img-svg {
  width: 66px;
  height: 80px;
}
.grid__title {
  margin-bottom: 11px;
}

.cards {
  margin: auto 24px 144px;
}
.cards__title {
  text-align: center;
  margin-bottom: 27px;
}
.cards__text {
  text-align: center;
  margin-bottom: 56px;
}
.cards__wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}

.br::after {
  content: "\a";
  white-space: pre;
}

.hidden {
  display: none;
}

.highlight {
  color: var(--color-highlight);
}

/*# sourceMappingURL=style.css.map */
