@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-bg-1: #080c20;
  --color-bg-2: #093f68;
  --color-bg-3: #3ee9e5;
  --color-font-1: #fff;
  --color-font-2: #777f98;
  --color-font-3: #080c20;
  --color-btn: #093f68;
  --color-highlight: #3ee9e5;
  --color-error: #ff2965;
}

html,
body {
  background-color: var(--color-bg-1);
  color: var(--color-font-1);
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

body,
button,
input {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 25px;
}

p {
  color: var(--color-font-2);
}

h1 {
  font-size: 2rem;
  line-height: 40px;
  font-weight: 800;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    line-height: 56px;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 55px;
  font-weight: 800;
}

h3 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 33px;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 2rem;
    line-height: 44px;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 25px;
  font-weight: 800;
}

.button {
  color: var(--color-btn);
  background-color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
  border-radius: 24px;
  padding: 12px 18px;
  font-weight: 800;
  min-width: 140px;
  height: 48px;
  line-height: 1;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.button:hover, .button:active {
  background-color: transparent;
  color: var(--color-font-1);
}

.text-field {
  width: 100%;
}
.text-field__input {
  color: var(--color-font-1);
  background-color: var(--color-bg-2);
  border: solid 2px transparent;
  border-radius: 24px;
  padding: 12px 18px;
  font-weight: 800;
  width: 100%;
  height: 48px;
  line-height: 1;
  transition: 0.2s ease-out;
}
.text-field__input::placeholder {
  color: var(--color-font-1);
  opacity: 0.4;
}
.text-field--success .text-field__input {
  border-color: var(--color-highlight);
}
.text-field--error::after {
  content: "Oops! That doesn’t look like an email address";
  display: block;
  margin-left: 18px;
  margin-top: 4px;
  color: var(--color-error);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 25px;
}
.text-field--error .text-field__input {
  border-color: var(--color-error);
}

.card-1 {
  margin-bottom: 23px;
  top: 23px;
  position: relative;
  padding: 49px 29px 32px 30px;
  border-radius: 8px;
  background-color: var(--color-bg-2);
}
.card-1 .card__title {
  margin-bottom: 19px;
}
.card-1 .card__text {
  margin-bottom: 26px;
}
.card-1 .card__msg {
  margin-bottom: 19px;
}
.card-1 .card__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  list-style-image: url(../../assets/icon-check.svg);
  padding-inline-start: 25px;
}
.card-1 .card__list-li {
  padding-inline-start: 10px;
}
.card-1 .card__img {
  position: absolute;
}
@media (min-width: 640px) {
  .card-1 {
    padding: 49px 38px 48px;
  }
}
.card-1 .card__text {
  color: var(--color-font-1);
}
.card-1 .card__list {
  list-style-image: url(../../assets/icon-check--light.svg);
}
.card-1 .card__img {
  top: -23px;
  left: 30px;
}

.card-2 {
  margin-bottom: 33px;
  top: 33px;
  position: relative;
  padding: 49px 29px 32px 30px;
  border-radius: 8px;
  padding-top: 61px;
  background-color: var(--color-bg-3);
  color: var(--color-font-3);
}
.card-2 .card__title {
  margin-bottom: 19px;
}
.card-2 .card__text {
  margin-bottom: 26px;
}
.card-2 .card__msg {
  margin-bottom: 19px;
}
.card-2 .card__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  list-style-image: url(../../assets/icon-check.svg);
  padding-inline-start: 25px;
}
.card-2 .card__list-li {
  padding-inline-start: 10px;
}
.card-2 .card__img {
  position: absolute;
}
@media (min-width: 640px) {
  .card-2 {
    padding: 49px 38px 48px;
  }
}
.card-2 .card__text {
  color: var(--color-font-3);
}
.card-2 .card__msg-small {
  font-size: 0.9375rem;
  font-weight: 500;
  vertical-align: text-top;
  margin-left: 7.5px;
}
.card-2 .card__img {
  top: -33px;
  left: 30px;
}
@media (min-width: 640px) {
  .card-2 {
    padding-top: 61px;
    padding-bottom: 60px;
  }
}

.header {
  text-align: center;
  margin: 40px auto 65.5px;
}
@media (min-width: 640px) {
  .header {
    text-align: left;
    margin: 48px auto 77px 39px;
  }
}

.footer {
  position: relative;
  margin: auto 24px 164px;
  z-index: 1;
}
.footer__title {
  text-align: center;
  max-width: 230px;
  margin: auto auto 31px;
  padding-top: 2px;
}
.footer__bg {
  position: absolute;
  z-index: -1;
  width: unset;
  max-width: 584px;
  top: 0;
  left: calc((584px - 100%) / -2);
}
@media (min-width: 640px) {
  .footer {
    margin-bottom: 105px;
  }
  .footer__title {
    padding-top: 15px;
    margin-bottom: 29px;
    max-width: unset;
  }
  .footer__bg {
    max-width: 1022px;
    left: calc((1262px - 100%) / -2);
  }
}

.hero {
  position: relative;
  margin-bottom: 144px;
  text-align: center;
}
.hero__img {
  min-width: 410px;
  margin-bottom: 47.5px;
}
.hero__img--lg {
  display: none;
}
.hero__bg {
  flex-flow: row nowrap;
  gap: 10px;
  width: 1108px;
  height: 357px;
  position: absolute;
  top: 0;
  left: calc((1108px - 100%) / -2);
}
.hero__bg-squiggle {
  margin-top: 34px;
  width: 386px;
  height: 268px;
}
.hero__container {
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
}
.hero__title {
  max-width: 250px;
  margin: auto auto 23px;
}
.hero__text {
  margin-bottom: 32px;
}
@media (min-width: 640px) {
  .hero {
    height: 357px;
    padding-top: 51px;
    margin-bottom: 110px;
  }
  .hero__img {
    min-width: unset;
    margin-bottom: unset;
  }
  .hero__img--sm {
    display: none;
  }
  .hero__img--lg {
    display: flex;
  }
  .hero__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 457px;
  }
  .hero__title {
    max-width: 350px;
    margin-bottom: 24px;
  }
}

.grid {
  margin: auto 24px 144px;
  display: flex;
  flex-flow: column nowrap;
  gap: 56px;
}
.grid__cell {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.grid__container {
  max-width: 340px;
}
.grid__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-2);
  margin: 0 auto 32px;
  min-width: 120px;
  height: 124px;
  border-radius: 45px;
}
.grid__img-svg {
  width: 66px;
  height: 80px;
}
.grid__title {
  margin-bottom: 11px;
}
@media (min-width: 640px) {
  .grid {
    margin: auto 98px 141px 97px;
    gap: 59px;
  }
  .grid__cell {
    flex-direction: row;
    gap: 55px;
    text-align: left;
  }
  .grid__cell:nth-child(2n-1) {
    align-self: flex-end;
  }
  .grid__cell:nth-child(2n) {
    align-self: flex-start;
  }
  .grid__img {
    margin: 0;
  }
}

.pricing {
  margin: auto 24px 144px;
}
.pricing__title {
  text-align: center;
  margin-bottom: 27px;
}
.pricing__text {
  text-align: center;
  max-width: 573px;
  margin: auto auto 56px;
}
.pricing__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 32px;
  max-width: 445px;
  margin: auto;
}
@media (min-width: 640px) {
  .pricing {
    margin-bottom: 119px;
  }
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}
@media (min-width: 640px) {
  .form {
    max-width: 476px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 16px;
  }
}

.br::after {
  content: "\a";
  white-space: pre;
}

.hidden {
  display: none;
}

.highlight {
  color: var(--color-highlight);
}

/*# sourceMappingURL=style.css.map */
